#Este es solo un ejemplo de las credenciales que se usarán para conectar a la base de datos, no son las credenciales reales.
DB_URL=jdbc:postgresql://HOST:5432/postgres
DB_USERNAME=USUARIO
DB_PASSWORD=CONTRASENA