* {
    box-sizing: border-box;

}
html,
body {
    width: 100%;
    margin: 0;
}

body {
    font-family: 'Arial' serif;
    background-color: #9ac8b0;
    padding: 20px;
}

h1 {
    color: #084123;
    text-align: center;
    margin-bottom: 30px;

}

h2{
    color: #084123; 
}

.contenedor{
    width: min (100%, 1020px);
    max-width: none;
    margin: 0 auto; 
}

.buscador {
    display: flex; 
    align-items: end;
    gap: 20px; 
    background-color: whitesmoke;
    max-width: 900px; 
    margin: 0 auto 25px; 
    padding: 12px;
    border-radius: 10px;
    box-shadow: 0 3px 10px #0f954e7e;
}

.campo-busqueda {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 7px; 
}

.campo-busqueda label {
    font-weight: bold;
}

.campo-busqueda input {
    width: 100%;
    padding: 10px; 
    border: 1px solid brown; 
    border-radius: 6px;
    font-size: 14px;
}

.campo-busqueda input:focus {
    border-color: rgba(98, 202, 98, 0.623);
    outline: 4px solid palegreen;
}


.lista-residuos {
    display: grid ;
    grid-template-columns: minmax(0, 900px);
    justify-content: center;
    gap: 20px
}

.area-residuo {
    background-color: whitesmoke;
    padding: 20px; 
    border-radius: 10px;
    width: 900px;

    box-shadow:0 3px 10px #4cab7821 ;
}

.area-residuo h2 {
    margin-top: 0%;
}

.tipo-residuo {
    font-weight: bold;
    color: #1a502f;
}


.detalle-residuo, .mensaje-error {
    background-color: whitesmoke;
    max-width: 900px;
    margin: 50px auto ;
    padding: 30px; 
    border-radius: 12px;
    box-shadow: 0 3px 12px #4cab7821 ;
}

.mensaje error {
    text-align: center;
}

.boton, button {
    display: inline-block;
    background-color: #2366427e;
    color: whitesmoke; 
    padding: 10px 18px;
    border: none; 
    border-radius: 8px;
    font-size: 14px;
    text-decoration: none;
    cursor: pointer; 
}

.boton:hover, button:hover {
    background-color: #1a502f

}

@media (max-width: 500px) {
    body{
        padding: 16px;
    }

    .buscador {
        align-items: stretch;
        flex-direction: column;
    }

    .detalle-residuo, .mensaje-error {
        margin: 24px auto;
        padding: 22px;
    }
}