<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | EcoUVG</title>
    <link rel="stylesheet" th:href="@{/css/login.css}">
</head>

<body>

    <div class="login">

        <h1>EcoUVG ♻</h1>
        <h2>Iniciar sesión</h2>

        <p>Ingresa tus credenciales</p>

        <div class="error" th:if="${param.error}">
            Carné o contraseña incorrectos.
        </div>

        <div class="exito" th:if="${param.logout}">
            Sesión cerrada correctamente.
        </div>

        <form th:action="@{/login}" method="post">

            <label for="carnet">Carné</label>
            <input
                type="text"
                id="carnet"
                name="carnet"
                placeholder="Ingresa tu carné"
                required>

            <label for="contrasena">Contraseña</label>
            <input
                type="password"
                id="contrasena"
                name="contrasena"
                placeholder="Ingresa tu contraseña"
                required>

            <button type="submit">
                Iniciar sesión
            </button>

        </form>

    </div>

</body>
</html>