<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/css/residuos.css" th:href="@{/css/residuos.css}">
    <link rel="stylesheet" th:href="@{/css/navegacion.css}" href="/css/navegacion.css">
    <meta charset="UTF-8">
    <title>Residuos</title>
</head>
<body>
    <main class="contenedor">
    <h1>Guía de residuos</h1>

    <form class="buscador" th:action="@{/residuos/buscar}" method="get">
        <div class="campo-busqueda">
        <label for="nombre">
            Busqueda de residuo
        </label>

        <input id="nombre" name="nombre" type="text" placeholder="Ej: Botella de plástico" required>
        </div>

        <button type="submit">
            Buscar
        </button>
    
    </form>

    <p class="lista-vacia" th:if="${#lists.isEmpty(residuos)}">
        No existen residuos en el registro. 
    </p>

    <div class="lista-residuos">
        <article class="area-residuo" th:each="residuo : ${residuos}">
        <h2 th:text="${residuo.nombre}">Nombre del residuo</h2>
        <p>
            Tipo:
            <span th:text="${residuo.tipo}">Tipo</span>
        </p>
        <p th:text="${residuo.descripcion}">
            Descripción
        </p>
        <p>
            Instrucciones:
            <span th:text="${residuo.instrucciones}">Instrucciones</span>
        </p>
        <p>
            ¿Es reciclable?:
            <span th:text="${residuo.reciclable ? 'Si' : 'No'}"></span>
        </p>

        <a class="boton" th:href="@{/residuos/buscar(nombre=${residuo.nombre})}">
             Ver detalle
        </a>
        </article>

    </div>
</main>
<nav class="navegacion" aria-label="Navegación principal">

    <a th:href="@{/inicio}" aria-current="page">
        <span aria-hidden="true">⌂</span>
        Inicio
    </a>

    <a class="activo" th:href="@{/residuos}">
        <span aria-hidden="true">♻</span>
        Residuos
    </a>

    <a th:href="@{/centros}">
        <span aria-hidden="true">⌖</span>
        Centros
    </a>

</nav>
</body>
</html>