<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/css/residuos.css" th:href="@{/css/residuos.css}">

    <meta charset="UTF-8">
    <title>Residuos</title>
</head>
<body>
    <main class="contenedor">
    <h1>Guía de residuos</h1>

    <form class="buscador" th:action="@{/residuos/buscar}" method="get">
        <div class="campo-busqueda">
        <label for="nombre">
            Busqueda de residuo
        </label>

        <input id="nombre" name="nombre" type="text" placeholder="Ej: Botella plástica" required>
        </div>

        <button type="submit">
            Buscar
        </button>
    
    </form>

    <p class="lista-vacia" th:if="${#lists.isEmpty(residuos)}">
        No existen residuos en el registro. 
    </p>

    <div class="lista-residuos">
        <article class="area-residuo" th:each="residuo : ${residuos}">
        <h2 th:text="${residuo.nombre}">Nombre del residuo</h2>
        <p>
            Tipo:
            <span th:text="${residuo.tipo}">Tipo</span>
        </p>
        <p>
            Descripción:
            <span th:text="${residuo.descripcion}">Descripción</span>
            
        </p>
        <p>
            Instrucciones:
            <span th:text="${residuo.instrucciones}">Instrucciones</span>
        </p>
        <p>
            ¿Es reciclable?:
            <span th:text="${residuo.reciclable ? 'Si' : 'No'}"></span>
        </p>

        <a class="boton" th:href="@{/residuos/buscar(nombre=${residuo.nombre})}">
             Ver detalle
        </a>
        </article>

    </div>
</main>
</body>
</html>